body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
}

.video-container {
    width: 60%;
    padding: 20px;
}

video {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.chat-messages {
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.chat-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1e528e;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .video-container {
        width: 100%;
    }

    .chat-container {
        margin-top: 20px;
    }
}
